.signUpScreen {
  max-width: 300px;
  padding: 20px 30px 50px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.signUpScreen.active {
  opacity: 1;
  visibility: visible;
}

.signUpScreen.inactive {
  opacity: 0;
  visibility: hidden;
}

.signUp__close-icon {
  text-align: right;
  cursor: pointer;
}

.signUpScreen > form {
  display: grid;
  flex-direction: column;
}

.signUpScreen > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}

.signUpScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

.signUpScreen > form > h2 {
  text-align: left;
  margin-bottom: 25px;
}

.signUpScreen > form > h4 {
  margin-top: 15px;
  text-align: left;
  margin-bottom: 25px;
}

.MuiInputBase-input {
  background: white;
}

.MuiTextField-root {
  background: white;
  margin-bottom: 20px;
}
