.movie__body {
  margin-left: 30px;
  margin-right: auto;
  padding-top: 8%;
  padding-bottom: 500px;
}

.movie__title {
  font-size: 36px;
  padding-bottom: 25px;
}

.movie__rating {
  padding-bottom: 5px;
  font-size: 20px;
}

.movie__genre {
  padding-bottom: 30px;
  font-size: 20px;
}

.movie__poster {
  object-fit: contain;
  max-height: 500px;
  margin-right: 10px;
  padding-bottom: 40px;
}

.movie__details {
  display: flex;
}

.movie__description {
  padding-bottom: 30px;
  font-size: 20px;
}

.movie__trailer-btn {
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: #b22222;
  color: white;
  font-size: 20px;
}

.movie__wrapper {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 800px;
}

.movie__error-message {
  margin-top: 10%;
  height: 100vh;
  text-align: center;
  font-size: 24px;
}
